@import './app-theme';
@import './materialize';


body {
    background-color: #F5F5F5;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}
